* {
    font-family:Arial, Helvetica, sans-serif;
    
}

body {
    background-image:linear-gradient(90deg, gray, blue)
}

header {
    display:flex;
    width: 100%;
    height: 100px;
    font-size:large;
    flex-direction:row;
    background-color:gray;
    align-items:center;
    border-bottom:10px solid rgb(90, 90, 90);
}

.profile-picture {
    display:block;
    width: 100px;
    height: 100px;
}

h1 {
    color:navy;
    font-size:30px;
    margin-left:10px;
}

nav {
    display:flex;
    width:60%;
    font-size: 24px;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 30px;
    margin-left: 65px;
    border: 10px;
}

h2 {
    display:flex;
    font-size: 30px;
    position:absolute;
    margin: 45px 0px;
    flex:0 2 30px;
}

p {
    border-left: 5px solid black;
    padding:12px;
    margin-left: 145px;
    color:whitesmoke;
    text-shadow: 2px 2px black;
    justify-content:center;
}

h3 {
    border: 5px solid black;
    padding: 100px 50px 30px 10px;
    margin:20px;
}

h4 {
    display:flex;
    flex-direction:row;
    border: 3px solid black;
    padding: 50px 25px 15px 5px;
    margin:2px 20px;
    width:50%;
    box-sizing:content-box;
}
#surf {
    background-image:url(./camera.jpg);
    background-size:135px;
}

#led {
    background-image:url(./camera.jpg);
    background-size:130px;
}

#calculator {
    background-image:url(./camera.jpg);
    background-size:130px;
}

#pastel {
    background-image:url(./tablet.jpg);
    background-size:130px;
}

#buddy {
    background-image:url(./tablet.jpg);
    background-size:130px;
    margin-bottom:60px
}

footer {
    height:160px;
    background-color:gray;
    border-top: 10px solid rgb(75, 75, 75);
}

h5 {
    display:flex;
    font-size: 30px;
    position:absolute;
    margin: 45px 0px;
    flex:0 2 30px;
    padding: 15px;
    /* font-size: 32px;
    color:navy;
    margin: 7px; */
}

#contact-info {
    display: flex;
    width: 80%;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 35px;
    margin-left: 208px;
    margin-top: 11px;
    border-left: 5px solid black;
    list-style: none;
}