* {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
}

a:hover {
    background-color: black;
    color:navy;
    cursor:grab;
}

body {
    background-image:linear-gradient(90deg, gray, blue)
}

header {
    display:flex;
    width: 100%;
    height: 100px;
    font-size:large;
    flex-direction:row;
    background-color:gray;
    align-items:center;
    border-bottom:10px solid rgb(90, 90, 90);
}

.profile-picture {
    display:block;
    width: 100px;
    height: 100px;
}

h1 {
    color:navy;
    font-size:30px;
    margin-left:10px;
}

nav {
    display:flex;
    width:40%;
    font-size: 24px;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding: 30px;
    margin-left: 65px;
    border: 10px;
}

nav > a {
    text-decoration: none;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex: 1 0 45%;
}

a:visited {
    text-decoration: none;
    color: white;
}

h2 {
    display:flex;
    font-size: 30px;
    position:absolute;
    margin: 45px 0px;
    flex: 1 2 30px;
}

p {
    border-left: 5px solid black;
    padding:12px;
    margin-left: 145px;
    color:whitesmoke;
    text-shadow: 2px 2px black;
    justify-content:center;
}

h3 {
    display: flex;
    border: 5px solid black;
    margin-left: 8px;
    padding:10px;
    color: white;
    align-items: flex-end;
    justify-content: flex-start;
    text-shadow: 2px 2px black;
}

h3 > a {
    text-decoration: none;
    color:white;
}

h4 {
    display:flex;
    border: 3px solid black;
    height:140px;
    padding:10px;
    margin: 10px 0px 5px 10px;
    color:white;
    text-shadow:2px 2px black;
    justify-content: flex-start;
    align-items: flex-end;
}

h4 > a {
    text-decoration: none;
    color:white;
}
.subject-list {
    display:flex;
    flex-wrap:wrap;
}

#surf {
    background-image:url(./marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    /* //Photo by <a href="https://unsplash.com/@marvelous?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Marvin Meyer</a> on <a href="https://unsplash.com/photos/people-sitting-down-near-table-with-assorted-laptop-computers-SYTO3xs06fU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
    background-size:100%;
    text-decoration:none;
    height: 400px;
}

#led {
    background-image:url(./ilya-pavlov-OqtafYT5kTw-unsplash.jpg); 
    /*Photo by <a href="https://unsplash.com/@ilyapavlov?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ilya Pavlov</a> on <a href="https://unsplash.com/photos/monitor-showing-java-programming-OqtafYT5kTw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  */
    background-size:100%;
    flex: 1 0 40%;
    text-decoration:none;
}

#calculator {
    background-image:url(./jason-leung-Xaanw0s0pMk-unsplash.jpg);
    /*Photo by <a href="https://unsplash.com/@ninjason?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jason Leung</a> on <a href="https://unsplash.com/photos/selective-focus-photography-of-multicolored-confetti-lot-Xaanw0s0pMk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  */
    background-size:100%;
    flex: 1 0 40%;
    text-decoration:none;
}

#pastel {
    background-image:url(./hans-peter-gauster-3y1zF4hIPCg-unsplash.jpg);
    /*Photo by <a href="https://unsplash.com/@sloppyperfectionist?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Hans-Peter Gauster</a> on <a href="https://unsplash.com/photos/stack-of-jigsaw-puzzle-pieces-3y1zF4hIPCg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
    background-size:100%;
    flex: 1 0 40%;
    text-decoration:none;
}

#buddy {
    background-image:url(./myriam-zilles-KltoLK6Mk-g-unsplash.jpg);
    /* Photo by <a href="https://unsplash.com/@myriamzilles?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Myriam Zilles</a> on <a href="https://unsplash.com/photos/white-blue-and-orange-medication-pill-KltoLK6Mk-g?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
    background-size:100%;
    flex: 1 0 40%;
    text-decoration:none;
}

footer {
    height:160px;
    background-color:gray;
    border-top: 10px solid rgb(75, 75, 75);
}

h5 {
    display:flex;
    font-size: 30px;
    position:absolute;
    margin: 45px 0px;
    flex: 1 2 30px;
    padding: 15px;
    /* font-size: 32px;
    color:navy;
    margin: 7px; */
}

#contact-info {
    display: flex;
    width: 80%;
    font-size: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 35px;
    margin-left: 208px;
    margin-top: 11px;
    border-left: 5px solid black;
    list-style: none;
    text-decoration:none;
}

#contact-info > a {
    text-decoration: none;
    font-weight:bold;
}